{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}
<section class="features section-bg">
    <div class="container">

        <div>
            <center><h2>About GCN</h2></center>

        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/career.jpg" class="img-fluid" alt="">
            </div>
            <div>
                <center>
                    <p class="font-italic">
                        We have a goal to create a constructive work environment that fosters continuous personal growth, education, Christian and family values. Our vision is to flourish individually and corporately while maintaining the highest standards of expert business behavior. The secrets to maintaining our excellence and continuous client satisfaction are
                        <div>
                           
                            <center>
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i>Integrity

                                    </li>
                                    <li>
                                        <i class="icofont-check"></i> Safety
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i> Quality
                                    <li>
                                        <i class="icofont-check"></i>Communication
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>Customer Service
                                    </li>
                                </ul>
                            </center>
            </div>
        </div>
        </p>
        </center>

        <!-- <ul>
      <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
    </ul> -->
    </div>

</section>







        {% endblock %}
