{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}
<section class="features section-bg">
    <div class="container">

        <div>
            <center>
                <h2>About GCN</h2>
            </center>

        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/career.jpg" class="img-fluid" alt="">
            </div>
            <div>
                <center>
                    <h3>Connecting The Communications Of Tomorrow</h3>
                    <p>
                        GCN has provided superb installation and maintenance of quality wiring packages to satisfy the
                        needs of an entity using the modern dynamic networking ecosystem. GCN is a trendsetter, raising
                        the bar when it comes to providing smooth and scalable services and products that interface on a
                        local, regional and national level. Being at the forefront of risk assessment and needs
                        evaluation has allowed GCN to claim the title of the foremost provider of audio-visual, security
                        and structured cabling solutions. We deploy the most trustworthy technology solution and couple
                        it with an ongoing dedication to provide the utmost customer satisfaction when it comes to
                        installation and maintenance of products and services.</p>
                    <p>GCN serves turnkey solutions that encompass design, implementation and technical support for the
                        entire company’s IT systems across local area networks and arbitrarily large areas, including
                        those off the premises that can be completely wired and integrated with security systems. Our
                        Converged Access provides you with total confidence that you will have a high standard of
                        service protection, anywhere and anytime.</p>
                    <p>The structured cabling department at GCN by the nature of its work provides audio-visual
                        implementation of products and services. Employing certified engineers and designers allows GCN
                        to masterfully design, install, update, upgrade and service superb audio-visual packages that
                        bring mass facilities, boardrooms and classrooms together.</p>
                    <p>We take great pride in smoothly delivering the foremost level of service at every stage. At its
                        core, we nurture family values, caring for our clients and striving to pamper them with a
                        tremendous customer experience.</p>
                    <p class="mb-5 pb-5">GCN brings together a team of technicians and specialists that have dedicated
                        themselves to
                        perfection. We are a cleared facility, with request-ready cage codes that can be provided to
                        you.</p>
                </center>
                <div class="row mt-5">
                    <div class="col-6">
                        <h3>Motto:</h3>
                        <p class="font-italic"> We have a goal to create a constructive work environment that fosters
                            continuous personal
                            growth, education, Christian and family values. Our vision is to flourish individually and
                            corporately while maintaining the highest standards of expert business behavior. The secrets
                            to
                            maintaining our excellence and continuous client satisfaction are:</p>

                        <!-- <center> -->
                        <ul class="ml-3">
                            <li>
                                <i class="icofont-check"></i>Integrity

                            </li>
                            <li>
                                <i class="icofont-check"></i> Safety
                            </li>
                            <li>
                                <i class="icofont-check"></i> Quality
                            <li>
                                <i class="icofont-check"></i>Communication
                            </li>
                            <li>
                                <i class="icofont-check"></i>Customer Service
                            </li>
                        </ul>
                        <!-- </center> -->
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
            <!-- <ul>
                <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul> -->
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5">
                <h3>HSE Statement</h3>
                <p class="font-italic">
                    Safety is a core company value at GCN, where we combine it with communication, quality, integrity
                    and customer service. Our engineers and technicians form a cohesive team that works in unison,
                    fostering risk awareness and a safety-minded environment that spans the entire organization, across
                    all levels.
                </p>
                <p>
                    GCN has committed itself to raising the bar to the highest possible standard within the industry, so
                    that we can instill a constructive and proactive safety culture. Naturally, this is only possible by
                    constantly training and educating all our employees, which we fervently do. We explore concepts and
                    implement ideas that reduce, minimize and eliminate dangers to our clients, employees, stakeholders
                    and the community.
                </p>
            </div>
        </div>

</section>







{% endblock %}