{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}
<section class="features section-bg">
    <div class="container">

        <div class="section-title">
            <h2>About GCN</h2>
            <p>
                We have a goal to create a constructive work environment that fosters continuous personal growth, education, Christian and family values. Our vision is to flourish individually and corporately while maintaining the highest standards of expert business behavior. The secrets to maintaining our excellence and continuous client satisfaction are:
                • Integrity
                • Safety
                • Quality
                • Communication
                • Customer Service
            </p>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="assets/img/career.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <h3>WHY WORK AT GCN</h3>
                <p class="font-italic">
                    Working at GCN means having a local and global effect on businesses and communities worldwide. We interface directly with our clients, providing services of utmost quality.
                </p>

                <!-- <ul>
                  <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul> -->
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>WHY GCN?</h3>
                <p>
                    GCN has been installing reliable and quality communication infrastructure products to accommodate the modern dynamic networking environment. NCS has set the industry-wide standard for seamless and scalable products and services across locales, regions and the entire nation. In cooperation with prestigious industry leaders, hospitals and universities, we install and maintain custom networking, security, audio-visual, mobility and integrated “smart building” features that drive forward technology implementations. NCS employs trained staff and certified procedures across 100 varied manufacturing pipelines.
                </p>
            </div>
        </div>


</section>






            {% endblock %}
