<!-- ======= Header ======= -->
<nav class="navbar sticky-top  navbar-expand-lg py-lg-4 px-5">
    <!-- <a class="ml-auto navbar-brand text-uppercase text-expanded font-weight-bold" href="#">Atlantida</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
        <h3 class="navbar-brand text-uppercase text-expanded" href="#">Atlantida</h3>
        <ul class="navbar-nav ml-auto font_19">
            <li class="nav-item active mx-4">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  mx-4">
                <a class="nav-link" href="{% url 'core:about' %}">About</a>
            </li>
            <li class="nav-item dropdown mx-4">
                <a class="nav-link dropdown-toggle" href="{% url 'core:services' %}" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'core:services' %}">Services</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'core:services' %}#ncs">The NCS Advantage</a>
                    <a class="dropdown-item" href="#">I2</a>
                </div>
            </li>
            <!-- <li class="nav-item dropdown mx-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Products</a>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-6">
                            <a class="dropdown-item" href="#">I1</a>
                            <a class="dropdown-item" href="#">I2</a>
                        </div>
                        <div class="col-6">
                            <a class="dropdown-item" href="#">I3</a>
                            <a class="dropdown-item" href="#">I4</a>
                        </div>

                    </div>
                </div>
            </li> -->
            <li class="nav-item dropdown mx-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Career
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'core:career' %}">Career</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">I1</a>
                    <a class="dropdown-item" href="#">I2</a>
                </div>
            </li>
            <li class="nav-item  ml-4">
                <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Header -->