{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Start Features Section -->
<section class="features section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Audio visual - services</h2>
        <p>There has been a sea level change in the audio visual (AV) ecosystem in the past 10 years. Today’s offerings
          provide AV over IP, where AV components can receive and send data across the network while offering handy
          control using almost any handheld device or desktop computer.
          If there is still no know-how inside your organization when it comes to using AV over IP, NCS is the helper of
          choice. Our specialty is designing a more conventional AV solution that uses industry standards regarding
          components and cabling. Our expertise in structured cabling goes hand in hand with the AV integration services
          we provide, helping you extend systems already in place, create novel ones and maintain both, supporting you
          for the entire lifespan of whichever choice you make. </p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Forward-Thinking Solutions for Your Projects Needs</h3>
          <p class="font-italic">
            Audio Visual Division at NCS can cooperate with owners/reps, architects and consultants to establish an AV
            installation and configuration that matches your exact specifications. If you still have doubts, we can
            furnish you with a comprehensive AV installation design, complete with documentation, to meet your budget
            limits.
          </p>
          <p>
            No matter if you’re looking at installing AvoIP, HDBaseT, Unified Communications or something else entirely,
            we can provide you with a custom system that fits your exact needs.
          </p>
          <!-- <ul>
            <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul> -->
        </div>
      </div>

      <!-- <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Modern Network Architecture For The Global Internet Age</h3>
          <p class="font-italic">
            Enterprise mobility must not be considered a novelty or luxury, reserved for those constantly on the move.
            Frost Sullivan, the famed analyst firm, estimated that 79% of all businesses has some way of accommodating a
            “bring your own device to work” practice (according to their 2018 numbers).</p>
          <p>
            Furthermore, when employees bring their own devices, they increase the company’s hardware capacity by 100%.
            Seeing how all modern businesses need reliable, high speed and private data transfer modes, and you can get
            a glimpse into why there is a clamor for a stable, scalable and robust mobile solution that can furnish a
            company with productivity across the table, at each stage of growth and both on-site and remotely.</p>
          <p>
            Allow your staff to prosper from having the connectivity to perform their business duties from any place and
            at any time. We will be your partner who will lay out the path of your growth, satisfying your business
            needs as the demand rises. NCS is the partner of choice when it comes to all wireless networking solutions.
          </p>
        </div>
      </div> -->

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Integration & Solutions</h3>
          <p>We at NCS start with a thorough needs assessment and end with post-install assistance, successfully
            designing and integrating any small or large-scale AV system. Our mission is to guarantee a plug-and-play
            system that can be used to migrate to any future platform. We provide a wide range of tailor-made solutions
            that can be used to enable and promote your daily business operations. </p>
          <ul>
            <li><a href="#"><i class="icofont-check"></i>Annotation systems and interactive whiteboards</a></li>
            <li><a href="#"><i class="icofont-check"></i>Audio and video conferencing (telepresence)</a></li>
            <li><a href="#"><i class="icofont-check"></i>Automated control solutions</a></li>
            <li><a href="#"><i class="icofont-check"></i>AV over IP solutions</a></li>
            <li><a href="#"><i class="icofont-check"></i>Building lighting control, dimming systems, and energy
                management</a></li>
            <li><a href="#"><i class="icofont-check"></i>Conference and meeting rooms</li>
            <li><a href="#"><i class="icofont-check"></i>Digital signage and wayfinding systems</a></li>
            <li><a href="#"><i class="icofont-check"></i>HDMI and DVI cabling</a></li>
            <li><a href="#"><i class="icofont-check"></i>Interactive classrooms.</a></li>
            <li><a href="#"><i class="icofont-check"></i>Large display solutions (video walls, LED walls, and tile
                walls)</a></li>
            <li><a href="#"><i class="icofont-check"></i>Large training facilities and divisible training rooms</a>
            </li>
            <li><a href="#"><i class="icofont-check"></i>Lecture capture, recording, and IP streaming solutions</a></li>
            <li><a href="#"><i class="icofont-check"></i>Motorized projection screens and projector mounts</a></li>
            <li><a href="#"><i class="icofont-check"></i>Motorized window shades</a></li>
            <li><a href="#"><i class="icofont-check"></i>Performance and studio audio solutions</a></li>
            <li><a href="#"><i class="icofont-check"></i>Public announcement (PA) systems</a></li>
            <li><a href="#"><i class="icofont-check"></i>Room scheduling and management</a></li>
            <li><a href="#"><i class="icofont-check"></i>Sound masking</a></li>
            <li><a href="#"><i class="icofont-check"></i>Sound system installation and acoustic treatments</a></li>

          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5" id="ncs">
          <h3>The NCS Advantage</h3>
          <p class="font-italic">
            Working with NCS provides a business with the chance to cooperate with leading experts in the AV industry,
            which nets several specific bonuses over the competition in the market. These are some of the bonuses a
            company gets by working with NCS:
          </p>
          <ul>
            <li><i class="icofont-check"></i>Thorough and comprehensive documentation, which comes with
              system design drawings, product submittals and intricately described scope of work.</li>
            <li><i class="icofont-check"></i> Leading technology trend insights that come from meeting with
              leading manufacturers and partners in the field and engaging with conference attendees.</li>
            <li><i class="icofont-check"></i> A time-tested project handling process that ensures delivery
              on time in a budget-friendly manner with communication that focuses on the client.</li>
            <li><i class="icofont-check"></i>350-strong team of trained and licensed staff that can handle
              projects of any size. All the expertise is in one place, provided by in-house experts.</li>
            <li><i class="icofont-check"></i>Visionary recommendations coming from top-level perspectives to
              steer company-wide missions for each client.</li>
          </ul>
        </div>
      </div>


      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Credentials</h3>
          <p class="font-italic">
            We strive to provide exemplary services that exactly match your needs and wants. Our staff is comprised of
            experts holding these certifications:
          </p>
          <ul>
            <li><i class="icofont-check"></i>Extron Control Professional Certified Programmers.</li>
            <li><i class="icofont-check"></i>Crestron Certified Programmers.</li>
            <li><i class="icofont-check"></i>Association for Quality in AV Certified Quality Technicians and Designers.
            </li>
            <li><i class="icofont-check"></i>AVIXA CTS and CTS-D Certified Designers.</li>
            <li><i class="icofont-check"></i>AVIXA CTS and CTS-I Certified Technicians and Project Managers.</li>
            <li><i class="icofont-check"></i>Avixa Senior Faculty Member.</li>
          </ul>
        </div>
      </div>


    </div>
  </section><!-- End Features Section -->
  {% endblock %}