{% extends 'base.html' %}
{% block content %}

<section id="hero">
  <div id="heroCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators mt-4">
      <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#heroCarousel" data-slide-to="1"></li>
      <li data-target="#heroCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner mx-auto">
      <div class="carousel-item active card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="carousel-item card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="carousel-item card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <!-- <span class="sr-only">Previous</span> -->
      <i class="icofont-arrow-left"></i>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      <i class="icofont-arrow-right"></i>

    </a>
  </div>
</section>

<main id="main">
  <!-- ======= HOME Section ======= -->
  <section class="services">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Quality</a></h4>
            <p class="description">We work with finesse until we have delivered outstanding products and services that
              we
              are proud to showcase.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Customer service</a></h4>
            <p class="description">We listen to our clients to understand their needs and exceed their expectations.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Safety</a></h4>
            <p class="description">We create infrastructure while identifying and mitigating security risks to set the
              foundation for a safe and risk-free future.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Integrity</a></h4>
            <p class="description">We provide a consistent level of quality and tirelessly work to bring our every
              product
              to the highest possible standard. </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Communication</a></h4>
            <p class="description">We communicate in a timely, open, respectful and honest manner.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End HOME Section -->

  <!-- service service_cards -->
  <section>
    {% include 'service_cards.html' %}
  </section>
</main>

{% endblock %}