<!-- ======= Service Details Section ======= -->
<section class="service-details section-bg">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img
              src="https://www.aclu.org/sites/default/files/styles/hero_big_small_480x255/public/field_banner_image/web15-siteimages-privandtech-2400x960.jpg?itok=mccm924M"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Audio visual</a></h5>
            <p class="card-text">Our audio-visual services encompass dynamic design solutions that can be applied to
              expand to the existing infrastructure, with ongoing support and maintenance throughout the hardware’s
              lifespan.</p>
            <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img
              src="https://www.aclu.org/sites/default/files/styles/hero_big_small_480x255/public/field_banner_image/web15-siteimages-privandtech-2400x960.jpg?itok=mccm924M"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Wireless Networks</a></h5>
            <p class="card-text">GCN is capable of performing an extensive audit for those clients who are in need of a
              third-party project infrastructure documentation, inspection and testing to assure warranty compliance.
            </p>
            <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img
              src="https://www.aclu.org/sites/default/files/styles/hero_big_small_480x255/public/field_banner_image/web15-siteimages-privandtech-2400x960.jpg?itok=mccm924M"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Security</a></h5>
            <p class="card-text">We employ security personnel that can apprise you of the constantly changing attack
              vectors, providing you with updated security solutions that will ensure comprehensive safety going
              forward.</p>
            <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img
              src="https://www.aclu.org/sites/default/files/styles/hero_big_small_480x255/public/field_banner_image/web15-siteimages-privandtech-2400x960.jpg?itok=mccm924M"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Structured Cabling</a></h5>
            <p class="card-text">GCN provides comprehensive services as a Communication Infrastructure Provider, having
              the resources to design, deploy and service structured cabling environments and associated hardware.</p>
            <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
      <div class="card">
        <div class="card-img">
          <img
            src="https://www.aclu.org/sites/default/files/styles/hero_big_small_480x255/public/field_banner_image/web15-siteimages-privandtech-2400x960.jpg?itok=mccm924M"
            alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="#">Power over Ethernet (PoE) Lighting</a></h5>
          <p class="card-text">PoE enables highly dynamic environments that can aggregate data, interact with
            occupants, inspire staff and allow for more workspace personalization.</p>
          <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
        </div>
      </div>
    </div>
  </div>

</section><!-- End Service Details Section -->